:root {
  --font-size-body: clamp(1.1rem, calc(0.9vh + 0.9vw), 2rem);
  --font-size-page-title: clamp(3.2rem, calc(2vh + 2vw), 6rem);
  --font-size-h1: clamp(2.5rem, calc(2vh + 2vw), 3rem);
  --title-size: clamp(4.1rem, calc(4vh + 4vw), 8rem);
}

.app-container {
  min-width: 1200px;
  height: clamp(600px, 100vh, 100vw);
  
  overflow-x:auto;
  position: relative;
}