:root {
  --font-size-body: clamp(1rem, calc(0.9vh + 0.9vw), 1.2rem);
  --font-size-page-title: clamp(3.2rem, calc(2vh + 2vw), 4rem);
  --font-size-h1: clamp(2.5rem, calc(2vh + 2vw), 3rem);
  --title-size: clamp(4.1rem, calc(4vh + 4vw), 5.6rem);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  font-size: var(--font-size-body);
}

body {
  font-size: var(--font-size-body);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-background-scene {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #61dafb;
  z-index: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app-container {
  min-width: 1200px;
  height: clamp(600px, 100vh, 100vw);
  
  overflow-x:auto;
  position: relative;
}