@font-face {
  font-family: "Whoopass";
  src: url("../../src/assets/fonts/whoopass.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.9em;
}

@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("../../src/assets/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("../../src/assets/fonts/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
