/* top row */
.introHeaderSection {
  display: grid;
  grid-template-columns: 80% 18%;
  gap: 2%;
  margin-bottom: 2%;
}

/* bottom row */
.introContentSection {
  display: grid;
  grid-template-columns: 35fr 60fr;
  grid-gap: 2%;
}

/* cards */
.introCard {
  position: relative;
  border: 1.5px solid var(--base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
}

/* top left rectangle */
.introLogoCard {
  composes: introCard;
  background: var(--color3);
}

.introLogoInner {
  background: var(--color4);
  border: 1.5px solid var(--base);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.introLogoText {
  font-family: "Whoopass", sans-serif;
  color: white;
  font-size: var(--title-size);
  letter-spacing: 0.125em;
  -webkit-text-stroke: 1.5px var(--base);
  text-stroke: 1.5px var(--base);
  -moz-text-stroke: 1.5px var(--base);
  -ms-text-stroke: 1.5px var(--base);
  margin-top: -0.9rem;
  margin-bottom: -1.7rem;
}

.introDotRow {
  display: flex;
  gap: 10px;
}

.introDot {
  width: 1.1rem;
  height: 1.1rem;
  border: 1.5px solid var(--base);
  border-radius: 50%;
  background: white;
}

.introBadge {
  position: relative;
  background: var(--color4);
  border: 1.5px solid var(--base);
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.introBadgeInner {
  position: relative;
  background: white;
  border: 1.5px solid var(--base);
  border-radius: 50%;
  width: 80%;
  height: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.introBadgeIcon {
  fill: var(--color3);
  stroke: var(--base);
  stroke-width: clamp(1.5px, calc(0.5vh + 0.5vw), 2.5px);
  width: 125%;
  height: 125%;
  margin: 0;
  top: 5%;
  left: 7%;
  position: absolute;
  overflow: visible;
}

.introWelcomeCard {
  composes: introCard;
  background: white;
  align-items: stretch;
  justify-content: flex-start;
  padding: 1rem;
}

.introContinueCard {
  composes: introCard;
  background: var(--color4);
  align-items: stretch;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.introContinueCard:hover {
  background: var(--color3);
}

.introContinueCard:hover .introContinueText {
  color: var(--color4);
}

.introContinueCard:hover .introContinueIcon {
  fill: var(--color4);
}

.introWelcomeContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.introWelcomeMessage {
  font-family: "Alte Haas Grotesk", sans-serif;
  color: var(--base);
  font-size: var(--font-size-body);
  margin: 2rem 0 0.25rem;
  text-align: left;
}

.introContinueContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.introContinueIcon {
  fill: var(--color3);
  stroke: var(--base);
  stroke-width: clamp(1.5px, calc(0.6vh + 0.6vw), 3px);
  width: 60%;
  height: auto;
  transform: rotate(-5deg);
  overflow: visible;
  transition: fill 0.3s ease;
}

.introContinueText {
  font-family: "Alte Haas Grotesk", sans-serif;
  font-weight: bold;
  color: var(--color3);
  font-size: var(--font-size-h1);
  -webkit-text-stroke: 1.5px var(--base);
  text-stroke: 1.5px var(--base);
  -moz-text-stroke: 1.5px var(--base);
  -ms-text-stroke: 1.5px var(--base);
  transition: color 0.3s ease;
}
