/* ===================
   Modal Overlay
   =================== */

/* background overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color2-rgb), 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* ===================
   Modal Container
   =================== */

/* Main modal container */
.modalContent {
  background: white;
  font-size: 1.3rem;
  line-height: 1.5;
  border: 1.5px solid var(--base);
  border-radius: 8px;
  max-width: 70%;
  min-width: 500px;
  max-height: 70%;
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* ===================
   Modal Header
   =================== */

/* Header section */
.modalHeader {
  background: var(--color3);
  border-bottom: 1.5px solid var(--base);
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

/* Modal title styling */
.modalTitle {
  font-size: 1.5rem;
  color: var(--base);
  font-family: "Alte Haas Grotesk", sans-serif;
  font-weight: bold;
  margin: 0;
}

/* Close button styling */
.closeButton {
  font-family: "Alte Haas Grotesk", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  background: var(--color4);
  border: 1.5px solid var(--base);
  color: var(--base);
  padding: 0.3rem 0.9rem;
  border-radius: 17px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: auto;
}

.closeButton:hover {
  background: var(--color2);
  color: var(--color4);
}

/* ===================
   Modal Body
   =================== */

/* Main content area */
.modalBody {
  padding: 1rem 3rem 3rem 3rem;
  font-family: "Alte Haas Grotesk", sans-serif;
  color: var(--base);
  overflow-y: auto;
  max-height: calc(80vh - 4rem);
}

.modalTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modalSubheading {
  font-family: "Alte Haas Grotesk", sans-serif;
  color: var(--base);
  background: var(--color4);
  border: 1.5px solid var(--base);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin: 1.5rem;
}
