/* ===================
   Grid Layout
   =================== */

/* Header Section*/
.priorityHeader {
  display: grid;
  grid-template-columns: 48% 50%;
  gap: 2%;
}

/* Content Section */
.priorityContent {
  display: grid;
  grid-template-columns: 100%;
  gap: 2%;
}

/* ===================
   Info Box Component
   =================== */

/* Main info box */
.infoBox {
  background: white;
  border: 1.5px solid var(--base);
  border-radius: 8px;
  padding: 1.5rem;
  position: relative;
}

/* Info box Wrapper */
.infoBoxContent {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.descriptionText {
  font-family: "Alte Haas Grotesk", sans-serif;
  color: var(--base);
  text-align: left;
  margin-top: 1rem;
}

/* ===================
   Ranking Box
   =================== */

/* Main ranking container */
.rankingBox {
  background: var(--color4);
  border: 1.5px solid var(--base);
  border-radius: 8px;
  padding: 1.5rem;
}

.rankingInstruction {
  font-family: "Alte Haas Grotesk", sans-serif;
  color: var(--base);
  text-align: left;
  margin-bottom: 1.5rem;
}


.rankingList {
  background: var(--color3);
  border-radius: 8px;
  padding: 0.7rem;
}

/* ===================
   Ranking Item
   =================== */

/* The Draggable Item */
.rankingItem {
  display: flex;
  align-items: center;
  background: white;
  border: 1.5px solid var(--base);
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 8px;
  cursor: grab;
  user-select: none;
}

/* Style while dragging */
.rankingItem:active {
  cursor: grabbing;
}

/* Circle number indicator */
.rankNumber {
  width: 30px;
  height: 30px;
  background: var(--color3);
  border: 1.5px solid var(--base);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Alte Haas Grotesk", sans-serif;
  font-weight: bold;
  color: var(--base);
}

.rankContent {
  font-family: "Alte Haas Grotesk", sans-serif;
  margin-left: 1rem;
  font-size: 1.1rem;
  color: var(--base);
  flex: 1;
}

/* Pencil Icon */
.rankDot {
  margin-top: -0.2rem;
  color: var(--base);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* ===================
   Drag and Drop
   =================== */

/* Currently dragging item */
.dragging {
  background: var(--color3) !important;
  box-shadow: 0 5px 10px var(--color2);
}

/* Drop Area Highlight */
.draggingOver {
  background-color: var(--color2);
  border-radius: 10px;
}